<div id="createModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add New Author</h4>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" enctype="multipart/form-data" [formGroup]="newAuthorForm" (ngSubmit) = "onSubmit()">
            <div class="form-group">
              <label class="control-label col-sm-2" for="name">Title</label>
              <div class="col-sm-10">
                <input id="name" class="form-control" name="name" type="text" required formControlName="name">
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Email</label>
              <div class="col-sm-10">
                <input id="email" class="form-control" name="email" type="email" required formControlName="email">
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-raised btn-primary btn-md" [disabled]="!newAuthorForm.valid" onclick="$('#createModal').modal('hide')" (click)="clearFile()">Add</button>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>